html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    background-image: url("me.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


nav {
    height: 5%;
    width: 100%;
    background-color: black;
}

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
  }
  
.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 10px; 
}

.flex-item a{
    font-family: 'Saira Condensed', sans-serif;
    color: white;
}

header{
    height: 5%;
    width: 100%;
    text-align: center;
}

main{
    height: 80%;
}

.main-container{
    width: 100%;
    height: 100%;
    margin: 0 3%;
}

footer{
    text-align: center;
    height: 10%;
}

h1,h2, p{
    margin: 0;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    font-size:x-large;
}

a{
    text-decoration: none;
    color: white;
}

p, sub, sup, b, i{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 200;
    font-size: medium;
}

.site-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


